.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
.listItem{
display: flex;
align-items: center;
}

.listButton{
  width: 200px;
  height: 30px;
  border-radius: 10px;
}